<footer class= "navbar navbar-static-bottom navbar-default" id="footer">
  <div class="container-fluid" id="footer-container">
    <ul class="nav navbar-nav navbar-left">
      <li class="copyright">
        <%= link_to "© 2016 Szilard Magyar", "/" %>
      </li>
      <li class="current-time">
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <% link_to "https://github.com/RealSilo", target: "_blank" do %>
          <i class="fa fa-github"></i>
        <% end %>
      <li>
        <% link_to "https://www.linkedin.com/in/szmagyar", target: "_blank" do %>
          <i class="fa fa-linkedin"></i>
        <% end %>
      </li>
      <li>
        <% link_to "https://twitter.com/@szmagyar", target: "_blank" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </li>
      <li>
        <% link_to "https://facebook.com/szilardmagyar88", target: "_blank" do %>
          <i class="fa fa-facebook"></i>
        <% end %>
      </li>
      <li>
        <% link_to "mailto:szilard.magyar@gmail.com?subject=from szmagyar.com" do %>
          <i class="fa fa-envelope"></i>
        <% end %>
      </li>
    </ul>
  </div>
</footer>