<nav class="navbar navbar-default" id="header">
  <div class="container-fluid" id="header-container">
    <ul class="nav navbar-nav navbar-left">
      <li><a class="brand" href="/">SZILARD MAGYAR</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://medium.com/@szmagyar" target="_blank"><span class="underlined">BLOG</span></a></li>
      <li><a href="/learning"><span class="underlined">LEARNING</span></a></li>
      <li><a href="/projects"><span class="underlined">PROJECTS</span></a></li>
    </ul>
  </div>
</nav>