---
title: Szilard Magyar
---

<div class="fluid-container" id="main-container">
  <div class="row index-main-row">
    <div class="col-md-3 col-md-offset-1 col-xs-12">
      <div class="profile-picture">
        <%= image_tag "profpic.jpeg", alt: "Szilard's avatar", title: "Szilard's avatar" %>
      </div>
    </div>
    <div class="col-md-7 col-xs-12 intro-text">
      <div class="main-intro-text">
        <div class="headline">Hi! Thank you for taking the time to visit.</div>

        <p>My name is Szilard Magyar. I'm originally from Budapest, Hungary. At the moment I'm living in Berlin, Germany and I also worked in San Francisco, CA. I love to build stuff and play around with new technologies. I'm passionate about web development, networks and startups.</p>

        <p>I enjoy traveling (20+ countries), getting lost in new places and discovering different cultures. In my free time you will find me coding, reading, running or having fun with my friends.</p>
      </div>
    </div>
  </div>
</div>
