---
title: Szilard Magyar
---

<div class="fluid-container" id="main-container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-picture">
        <%= image_tag "profpic.jpeg", alt: "Szilard's avatar", title: "Szilard's avatar" %>
      </div>
    </div>
    <div class="col-md-8 intro-text">
      <!-- My name is Szilard Magyar. I'm passionate about web development and startups.

      <div>I'm originally from Budapest, Hungary and also lived in San Francisco, CA. I'm passionate about building things and understanding how the things are working around me. I enjoy traveling, getting lost in new places and discovering different cultures. In my free time, you will find me coding, reading, running or having fun with my friends.</div> -->


      <div>My name is Szilard Magyar. I'm originally from Budapest, Hungary and also lived in San Francisco, CA. I'm passionate about web development and startups. I enjoy traveling, getting lost in new places and discovering different cultures. In my free time you will find me coding, reading, running or having fun with my friends.</div>
    </div>
  </div>
</div>
