---
title: Szilard Magyar
---

<div class="fluid-container" id="main-container">
  <div class="row">
    <div class="col-md-3">
      <div class="profile-picture">
        <%= image_tag "profpic.jpeg", alt: "Szilard's avatar", title: "Szilard's avatar" %>
      </div>
    </div>
    <div class="col-md-8 intro-text">
      My name is Szilard Magyar. I'm passionate about web development and startups.

      I'm originally from Budapest, Hungary and also live in San Francisco, CA. I really like traveling to new places and discovering different cultures.

      I also enjoy coding, reading, running and working out.
    </div>
  </div>
</div>
